<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046480761785-anhavrkm43om152q9qs3c09a6dallnso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046480761785-anhavrkm43om152q9qs3c09a6dallnso</string>
	<key>API_KEY</key>
	<string>AIzaSyB8mk_RSaRL8QOBeHqgDryDnipr7AmIhrM</string>
	<key>GCM_SENDER_ID</key>
	<string>1046480761785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lessonProject</string>
	<key>PROJECT_ID</key>
	<string>lesson-project-ca22f</string>
	<key>STORAGE_BUCKET</key>
	<string>lesson-project-ca22f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046480761785:ios:cb891f65af0d0bbcf17c68</string>
</dict>
</plist>